body {
  font-family: "Lora";
  font-style: normal;
  font-variant: normal;
}

li {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #280000; /* Black for text */
}

pre {
  font-size: 13px;
  font-weight: 400;
  line-height: 18.5714px;
  color: #280000; /* Black for text */
}

.markdown-section blockquote {
  border-left: 4px solid #e74c3c; /* Red for border */
}

.markdown-section h1 {
  margin-top: 50px;
}

.markdown-section em {
  color: #FFF8F0; /* Light gray for emphasis */
}

.markdown-section p.warn {
  background: #FFF8F0; /* Maintain existing light gray background */
}

.markdown-section table {
  display: table;
  width: 100%;
}

.markdown-section th {
  text-transform: uppercase;
  color: #280000; /* Black for text */
}

.markdown-section td,
.markdown-section th {
  text-align: left;
  color: #280000; /* Black for text */
}

.progress,
.sidebar-toggle span,
section.cover .cover-main > p:last-child a:last-child {
  background-color: #FFF8F0; /* Red for background */
}

.search a:hover,
.search .search-keyword,
.app-nav a:hover,
.app-nav a:active,
.sidebar ul li.active > a,
.markdown-section a,
.token.attr-value,
.token.control,
.token.directive,
.token.string,
.token.unit,
section.cover .cover-main > p:last-child a,
section.cover blockquote > p > a:hover {
  color: #7A0101; /* Red for text */
}

.app-nav a:active,
section.cover blockquote > p > a {
  border-bottom: 2px solid #e74c3c; /* Red for border */
}

section.cover .cover-main > p:last-child a {
  border-color: #e74c3c; /* Red for border */
}
