:root {
  --bg-color: #ffffff; /* Light mode background color */
  --text-color: #201a19; /* Light mode text color */
  --accent-color: #b52619; /* Red color for links and borders */

  --dark-bg-color: #201a19; /* Dark mode background color */
  --dark-text-color: #ede0dd; /* Dark mode text color */
}

/* Base styles (apply to both modes) */
body {
  font-family: "Lora", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

/* List items */
li {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: var(--text-color);
}

/* Preformatted text */
pre {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  color: var(--text-color);
}

/* Blockquotes */
.markdown-section blockquote {
  border-left: 4px solid #e74c3c;
  padding: 10px 20px;
}

/* Headings */
.markdown-section h1 {
  margin-top: 40px;
}

/* Emphasis */
.markdown-section em {
  color: #666;
}

/* Warn paragraphs */
.markdown-section p.warn {
  background: #FFF8F0;
  padding: 10px;
}

/* Tables */
.markdown-section table {
  width: 100%;
  border-collapse: collapse;
}

.markdown-section th,
.markdown-section td {
  text-align: left;
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: var(--text-color);
}

/* Interactive elements */
.progress,
.sidebar-toggle span,
section.cover .cover-main > p:last-child a:last-child {
  background-color: #fffbff;
  border: 1px solid #e74c3c;
}

/* Links */
.search a:hover,
.search .search-keyword,
.app-nav a:hover,
.app-nav a:active,
.sidebar ul li.active > a,
.markdown-section a,
.token.attr-value,
.token.control,
.token.directive,
.token.string,
.token.unit,
section.cover .cover-main > p:last-child a,
section.cover blockquote > p > a:hover {
  color: var(--accent-color);
}

.app-nav a:active,
section.cover blockquote > p > a {
  border-bottom: 2px solid var(--accent-color);
}

section.cover .cover-main > p:last-child a {
  border-color: var(--accent-color);
}

/* Dark mode styles */
body.dark-mode { 
  --bg-color: var(--dark-bg-color);
  --text-color: var(--dark-text-color);

  /* Adjusted styles for dark mode */
  .markdown-section blockquote {
    border-left-color: #DDD; 
  }

  .progress,
  .sidebar-toggle span,
  section.cover .cover-main > p:last-child a:last-child {
    background-color: #333; 
  }

  /* ... Add more dark mode styles as needed ... */
}

.dark-mode-switch {
  position: fixed; 
  right: 20px; 
  top: 20px; 
}

/* Hide the default checkbox */
.dark-mode-switch input[type="checkbox"] {
  display: none;
}

/* Style the sun and moon icons */
.dark-mode-switch label::before {
  content: "\f185"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900; 
  display: inline-block;
}

.dark-mode-switch input[type="checkbox"]:checked + label::before {
  content: "\f186"; 
}
